body{
  background-color: black;
  color:white;

  text-align: center;

  font-family: "Consolas", "Inconsolata", "Fira Code", "Source Code Pro", "monospace";
  min-height: 1000px;
}

::selection{
  background-color: white;
  color: black;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 900px;
}

hr{
  border-color: cyan;
  margin-top: -15px;
  margin-bottom: 30px;
}